* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    text-decoration: none;
    
}
.topbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(36, 36, 62);
    height:59px;
}
.topbar-container h4 {
    color: #fff;
}
.topbar-container p {
    font-size: 0.7rem;
    color: #fff;
}

.contato-topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.atendimento-topbar {
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 12px;
}

.topbar-icon-container {
    padding: 5px;
    background-color: rgba(183, 183, 181, 0.3);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;
    flex-wrap: nowrap;
}

header img {
    width: 150px;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.links-container a{
    color: rgb(36, 36, 62);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.links-container-faleconosco-container {
    background-color: rgb(36, 36, 62);
    color: #fff;
    border-radius: 20px;
    padding: 0 15px;
}

.links-container-faleconosco-container a {
    color: #fff;
    
}



.banner-container {
    background-image: url(../../assets/banner-contato.png);
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.banner-container h1 {
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
}

.sobrenos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    padding: 55px;
    text-align: center;
}

.sobrenos-container p {
    max-width: 800px;

}

.imagens-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 33px;
    align-items: center;
    justify-content: center;
    padding: 55px;
    
}

.imagens-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 350px;
    background-position: center;
    background-size: contain;
}

.socialbar-container {
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #080d69, #7f2ddd); /* Gradiente de azul para roxo */
    width: 100%;
    align-items: center;
    padding: 20px; /* Reduzi um pouco o padding para um visual mais compacto */
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 2px solid #fff; /* Adicionei uma borda inferior branca */
    gap: 10px;
    color: #fff;
}

.nossahistoria-img {
    width: 800px;
}

.text-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.whatsapp-container {
    position: fixed;
    bottom: 20px; /* Ajuste a distância do topo conforme necessário */
    right: 20px; /* Ajuste a distância da direita conforme necessário */
    z-index: 999; /* Certifique-se de que o z-index seja maior do que outros elementos, se necessário */
    cursor: pointer;
    opacity: 0.8;
}

.whatsapp-container:hover {
    opacity: 1;
}


footer {
    background-color: rgb(198, 183, 156);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 30vh;
    flex-wrap: wrap;
    gap: 29px;
    padding: 35px;
}

footer p, b {
    color: rgb(91, 86, 86);
}
.direitos-container  a {
    background-color: rgb(198, 183, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    flex-wrap: nowrap;
    text-align: center;
    color: #000;
    padding: 10px;
}

.icon-dropdown {
    display: none;
}

.dropdown {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: blue;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    top: 0;
    padding: 55px;
    opacity: 1;
    animation: fadeIn 0.5s ease;
}

.dropdown a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;

}

.close-container {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 600;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Aplique a animação à classe .dropdown */
.dropdown {
    animation: fadeInOut 0.5s ease;
}

.dropdown.exiting {
    animation: fadeOut 0.5s ease;
}
@media (max-width: 600px) {
    .links-container {
        display: none;
    }

    .icon-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(202, 193, 193);
        border: none;
        width: 45px;
        height: 45px;
        pointer-events: auto;
    }

    .topbar-container {
        display: none;
        
    }

    .imagens-container {
        width: 100%;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .imagens-container img {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .sobrenos-container {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .sobrenos-container img {
        width: 100%;
    }
    
}